/**
 * Created by Daniel Budick on 02.08.2015.
 * Copyright 2015 Daniel Budick All rights reserved.
 * Contact: daniel@budick.eu / http://budick.eu
 *
 * This file is part of Spielebuch
 * Spielebuch is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Spielebuch is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Spielebuch. If not, see <http://www.gnu.org/licenses/>.
 */

/*Buttons on mousedown on keyword*/
#mousedown {
    position: absolute;
    width: 100px;
    height: 100px;
    display:none;
}
.white-box {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.white-box:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

.white-box.suppressed{
    background-color: white;
    opacity: 0;
}
/*Positioning of buttons on mousedown*/
#center{
    display:block;
    top: 40px;
    left: 40px;
}
#bottom{
    left: 40px;
    top: 60px;
}
#top{
    left: 40px;
    top:-40px;
}

#left{
    top: -20px;
    left: 0;
}
#leftTop{
    top: -62px;
    left: 0;
}
#leftBottom{
    top: -38px;
    left: 0;
}
#right{
    top: -80px;
    left: 80px;
}
#rightTop{
    top: -122px;
    left: 80px;
}
#rightBottom{
    top: -98px;
    left: 80px;
}


/*Position of focus text*/
#focus-text{
    position: absolute;
    width: 80%;
    top: 40vh;
    text-align: center;
    font-size: 1.5em;
    background-color: #ffffff;
    border: 1px solid #C62828;
    border-radius: 15px;
}
#action-text{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    text-align: center;
}
#action-text h2{
    margin:0;
    padding: 0;
    color: white;
    font-size: 45px;
}

.backback-list{
    top:-200px;
    left: 20px;
}


.effects {
    top:-10px;
    background-color:black;
    color:white;
    border-radius:5px;
    opacity:0;
    position:absolute;
    z-index: 99;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    display: none;
}
.hover:hover .effects {
    opacity:1;
    display: block;
}